@media only screen and (max-width: 767.98px) {
  body {
    font-size: 1em;
  }

  img {
    width: 50%;
    height: 50%;
    max-height: 50%;
    object-fit: cover;
    padding: 0.42em;
  }

  .hidden-xs {
    display: none;
  }
}

@media only screen and (min-width: 767.98px) {
  body {
    font-size: 1.1em;
  }

  img {
    width: 50%;
    height: auto;
    max-height: 50%;
    object-fit: cover;
    padding: 0.42em;
  }

  .hidden-xs {
    display: none;
  }
}

@media only screen and (min-width: 991.98px) {
  body {
    font-size: 1.2em;
  }

  .hidden-xs {
    display: none;
  }
}

@media only screen and (min-width: 1199.98px) {
  body {
    font-size: 1.35em;
  }

  img {
    width: 33.33%;
    height: 33.33%;
    max-height: 33.33%;
    object-fit: cover;
    padding: 0.42em;
  }

  .hidden-xs {
    display: block;
  }
}
